# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# misc
.DS_Store
*.tsbuildinfo

# env files
.env
.env*.local

# vercel
.vercel

# supabase local
supabase/.temp
supabase/.branches
